.todo{
    padding: 20px;
}

.buttonWrapper{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.complete{
     border: 1px solid #2A3990;
}
.delete { 
    border: 1px solid red;
}
.delete:hover{
    background: red;
    border-color: red;
    color: white;
}
