.layout{
  width: 1200px;
  margin: auto;
  display: flex;
  /* border: 1px solid blue; */
}
.container{
  width: 100%;
  /* margin:2px; */
  padding:20px;
  /* border: 1px solid blue; */
}
.todolist{
  margin: 0px 15px
}